.category {
    background-color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    .search {
        color: #727272;
        width: 65%;
        height: 60px;
        line-height: 60px;
        border-radius: 24px;
        font-size: 24px;
        padding-left: 24px;
        margin-left: 24px;
        background-color: #f6f6f6;
    }
    .category-info {
        background-color: #f6f6f6;
        .category-nav {
            margin-top: 20px;
            border-top: 2px solid #f6f6f6;
            .at-tabs__item {
                color: #a4a4a4;
            }
            .at-tabs__item-underline {
                display: none;
            }
            .at-tabs__item--active {
                color: #000;
            }
            .phone-nav {
                line-height: 80px;
                .at-tabs__item {
                    color: #000;
                }
                .at-tabs__item--active {
                    background-color: #f6f6f6;
                }
                .at-tabs-pane--active {
                    padding-bottom: 224px;
                }
                .at-tabs--scroll  {
                    scroll-view {
                        padding-bottom: 254px;
                        ::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
                .image {
                    padding: 24px;
                    width: 92%;
                    height: 220px !important;
                    border-radius: 24px;
                    overflow: hidden;
                    image {
                        width: 100%;
                        height: 100%;
                    }
                }
                .title {
                    text-align: center;
                }
                .card {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 24px;
                    .category-card {
                        width: 31%;
                        height: 230px;
                        margin-bottom: 18px;
                        background-color: #fff;
                        border-radius: 12px;
                        overflow: hidden;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        .card-top {
                            width: 100%;
                            height: 50px;
                            text-align: center;
                            margin-top: 40px;
                            flex: 1;
                            image {
                                width: 100%;
                                height: 80%;
                            }
                        }
                        .card-bottom {
                            height: 60px;
                            line-height: 26px;
                            font-size: 20px;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}