.user {
    background-color: #f8f8f8;
    height: 100%;
    margin-top: 320px;
    .user-info {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background: #67cab5;
        padding: 24px;
        box-sizing: border-box;
        .user-info-image {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            image {
                width: 100%;
                height: 100%;
            }
        }
        .user-info-desc {
            flex: 1;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 32px;
            color: #fff;
            box-sizing: border-box;
            line-height: 60px;
            padding-left: 10px;
            .user-info-desc-top {
                font-size: 34px;
            }
            .user-info-desc-bottom {
                font-size: 28px;
            }
        }
    }
}